@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #FDFDFD;
  --color-primary-dark: #0F172A;
  --color-primary-text: #1F2937;
  --color-secondary-text: #16A44B;
}